.nav-tabs-horizontal {
  &.content-padding-top {
    .tab-content {
      padding-top: 20px !important;
    }
  }

  &.content-padding {
    .tab-content {
      padding: 20px !important;
    }
  }

  &.content-padding-30 {
    .tab-content {
      padding: 30px !important;
    }
  }
}

.nav-tabs-vertical {
  &.content-padding-vertical {
    .tab-content {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      padding-left: 25px;
    }

    .tab-content-20 {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-left: 25px;
    }

    &.nav-tabs-reverse {
      .tab-content {
        padding-right: 25px;
        padding-left: 0;
      }
    }
  }
}

