.page-error {
  text-align: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: table;

  .page-content {
    display: table-cell;
  }
}

.page-error .error-mark {
  margin-bottom: 33px;
}

.page-error header h1 {
  font-size: 10em;
  font-weight: 400;
}

.page-error header p {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

.page-error h2 {
  margin-bottom: 30px;
}

.page-error .error-advise {
  margin-bottom: 25px;
  color: #a9afb5;
}
