@import './theme/components/bundle.styl';
@import './errors.styl';
@import './theme.styl';
@import '../modules/core/ui/styles/bundle.styl';
@import '../modules/examples/ui/styles/bundle.styl';
@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';
@import '../../node_modules/switchery/standalone/switchery.css';
@import '../../node_modules/fixed-data-table/dist/fixed-data-table.css';
@import '../../node_modules/react-big-calendar/lib/css/react-big-calendar.css';


input, textarea, button, a {
  outline: none;
}

#container {
  padding-top: 66px;
  overflow-x: hidden;

  &.auth {
    padding-top 0;
  }
}

/*

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.7) !important;
}

:-moz-placeholder { /* Firefox 18-
   color: rgba(255,255,255,0.7) !important;
}

::-moz-placeholder {  /* Firefox 19+
   color: rgba(255,255,255,0.7) !important;
}

:-ms-input-placeholder {
   color: rgba(255,255,255,0.7) !important;
}
    */

