.app-code {
  .code-form {
    text-align: center;
    display: table;
    max-width: 600px;
    width: 100%;
    margin: auto;
    height: calc(100vh - 260px);

    .content {
      display: table-cell;
      vertical-align: middle;

      h1 {
        font-size: 1.7em
      }

      .form-control {
        margin-top: 20px
      }

      .btn {
        margin-top: 20px
      }
    }
  }
}
