.content-soon {
  width: 100%;
  display: table;
  height: calc(100vh - 400px);

  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    i {
      font-size: 7em;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 2em;
    }
  }
}
