@require 'variables.styl'

.list-empty {
  width: 100%;
  height: 82vh;
  text-align: center;
  display: table;

  .content {
    display: table-cell;
    vertical-align: middle;

    i {
      font-size: 130px;
      color: Color-Soft-Gray;
    }

    p {
      margin-top: 10px;
    }
  }
}
