@require 'variables.styl'

.site-navbar {
  background: Color-White;
}

.extended-avatar-menu {
  margin-right: 20px;

  .content {
    display: inline-block;
    margin-left: 12px;
    height: 40px;
    transform: translateY(9px);

    .label {
      font-size: 1.1em;
      display: block;
      color: #444;
      padding: 0;
      margin: 0;

      i {
        color: Color-Copper;
        margin-left: 6px;
        transform: scale(1.4);
      }
    }

    .name {
      font-size: 0.8em;
      display: block;
    }
  }
}

.navbar-default .navbar-toolbar > li.slim > a {
  padding: 7px;
}
