.pricing {
  .pricing-table [class*='pricing-column'] {
    background: #fff;

    &.featured {
      background: Color-Clear-Gray;
    }

    .pricing-currency {
      margin-top: 22px;
      margin-right: 5px;
    }

    .btn {
      color: #fff;
    }
  }
}
