.reporter-report {
  .report {
    border: 1px solid Color-Dark-Gray;
    border-radius: 3px;
    padding: 20px;
    min-height: 400px;
    text-align: center

    input.name {
      margin: auto;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 1.5em;
      margin-bottom 30px;
      min-width: 350px;
    }

    .content {
      padding: 10px 0;

      .element {
        padding: 15px;
        text-align: left;
      }
    }
  }
}

.react-bs-table-pagination .dropdown .dropdown-menu{
  top: inherit !important;
  bottom: 100%;
}

.sort-column .dropup{
  display: none;
}