.statement {
  .total-table {
    margin-top: 15px;

    .col-md-12 {
      padding: 0 25px;
    }

    table {
      width: 100%;

      tr {
        background: Color-Clear-Gray;
        border-bottom: 10px solid #fff;

        h3 {
          font-size: 1.1em;
          margin: 0;
        }

        td {
          padding: 10px 15px;
        }

        td:nth-child(2) {
          text-align: center;
        }

        td:last-child {
          text-align: center;
        }
      }
    }
  }
}

.statement-table-breakdown {
  text-align: left;

  .header {
    text-align: center;
  }

  .campaign {
    margin-bottom: 20px;

    .row {
      padding: 10px;
    }

    .value {
      .icon-label {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .total {
    margin: 10px 0 40px 0;
  }
}
