Color-White = #fff;
Color-Black = #2e2e2e;
Color-Red = #F62026;
Color-Clear-Gray = rgba(218, 218, 218, 0.3);
Color-Soft-Gray = #efefef;
Color-Copper = #C28C58;
/*Color-Purple = #75489F;
Color-Sky-Blue = #59C5DF;*/
Color-Purple = #C28C58;
Color-Sky-Blue = #C28C58;
Color-Gray = #D5D5D5;
Color-Green = #77C885;
Color-Dark-Gray = #858585;
Color-Gray-Letter = #909090;
